/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* REST OVER */




body {
    background-color: white;
    width: 960px;
    padding: 0;
    margin: 0;
    
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;

}

h2 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;

}


a:link {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;

}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:active {
    color: orange;
    text-decoration: underline;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 20px;
    margin: 0;
    color: #ffffff;
    width: 100%;
    background: #00639e;
    height: 100px;
    border-bottom: 3px solid orange;
}


#bodyWrap{
    position: absolute;
    top: 143px;
    left: 0;
    height: auto;
    width: 100%;
}

#contentWrap{
    left: 0;
    width: 960px;
    height: auto;
    min-height: 300px;
    background-color: #009acd;
    margin-bottom: 110px;
}

#navColumn {
    text-align: right;
    position: absolute;
    background-color: #009acd;
    margin: 0;
    padding: 20px;
    width: 260px;
}

#navColumn ul {
    color: white;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
}

#mainContentArea {
    background-color: antiquewhite;
    margin: 0 0 0 300px;
    padding: 20px 20px 20px 20px;
    height: auto;
}

#footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 100px;
    width: 100%;
}

#box1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cyan;
    width: 25%;
    height: 100%;

}
#box2 {
    position: absolute;
    top: 0;
    left: 25%;
    background-color: magenta;
    width: 25%;
    height: 100%;

}
#box3 {
    background-color: yellow;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;

}
#box4 {
    color: white;
    background-color: black;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 75%;

}
